/* === Form-Specific Styles === */

#drip-100632 {
    background: #fff !important;


    .drip-content h3 {
        color: $theme-color !important;
        font-size: 24px !important;
    }

    .drip-submit-button {
        background-color: $theme-color !important;
        font-size: 16px !important;
        &:hover,
        &:active {
            background-color: darken($theme-color, 7.5%) !important;
        }
    }

    dl dt,
    .drip-content .drip-description,
    .drip-errors {
        font-size: 14px !important;
    }

    .drip-text-field {
        font-size: 14px !important;
    }
}






/* === Reset styles === */

.drip-lightbox h1,
.drip-lightbox h2,
.drip-lightbox h3,
.drip-lightbox div,
.drip-lightbox dl,
.drip-lightbox dt,
.drip-lightbox dd,
.drip-lightbox p,
.drip-lightbox a,
.drip-lightbox .drip-text-field,
.drip-lightbox .drip-text-field:focus,
.drip-lightbox .drip-submit-button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    float: none;
    width: auto;
    background-image: none;
    letter-spacing: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none !important;
    -moz-text-shadow: none !important;
    text-shadow: none !important;
}

.drip-lightbox h1,
.drip-lightbox h2,
.drip-lightbox h3 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}

.drip-lightbox a {
    text-decoration: none;
}

.drip-lightbox :focus {
    outline: 0;
}

.drip-lightbox input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #A8ACB9 !important;
}

.drip-lightbox input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A8ACB9 !important;
}

.drip-lightbox input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A8ACB9 !important;
}

.drip-lightbox input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #A8ACB9 !important;
}






/* === Clearfix === */

.drip-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .drip-clearfix {
    zoom: 1;
}






/* IE6 */

*:first-child+html .drip-clearfix {
    zoom: 1;
}






/* IE7 */


/* === Backdrop === */

.drip-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: $white;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.drip-backdrop.drip-in {
    opacity: 0.85;
}

.drip-backdrop.drip-hidden {
    display: none;
}






/* === Main Container === */

.drip-lightbox-wrapper * {
    box-sizing: content-box;
}



/* === Content === */

.drip-lightbox .drip-content {
    margin: 0 0 0 -190px;
    padding: 0;
    position: fixed;
    width: 380px;
    top: -25%;
    left: 50%;
    font-size: 100%;
    z-index: 11000;
    color: #333;
    vertical-align: baseline;
    background-color: #ffffff;
    opacity: 0;
    -webkit-box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.36);
    -webkit-transition: opacity .3s linear, top .3s ease-out, bottom 200ms ease-in;
    -moz-transition: opacity .3s linear, top .3s ease-out, bottom 200ms ease-in;
    -o-transition: opacity .3s linear, top .3s ease-out, bottom 200ms ease-in;
    transition: opacity .3s linear, top .3s ease-out, bottom 200ms ease-in;
    border:$theme-border-accent;
}

.drip-lightbox.drip-in .drip-content {
    top: 15%;
    opacity: 1;
}

.drip-lightbox.drip-hidden .drip-content {
    display: none;
}

.drip-lightbox.side-image .drip-content {
    margin-left: -325px;
    width: 650px;
}

.drip-lightbox.mobile .drip-content {
    margin: 0;
    width: 100%;
    left: 0;
    top: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.drip-lightbox.mobile.drip-in .drip-content {
    top: auto;
    bottom: 0;
}

.drip-lightbox.drip-scrollable .drip-content {
    overflow-y: scroll;
}






/* === Teaser === */

.drip-lightbox .drip-header h2 {
    display: block;
    margin: 0 !important;
    padding: 12px 0 !important;
    font-size: 14px !important;
    line-height: 13px !important;
    font-weight: bold !important;
    color: #fff !important;
    letter-spacing: 0 !important;
}






/* === Panel === */

.drip-lightbox .drip-content>div.drip-panel {
    padding: 40px;
    background-color: #fff;
}






/* === Powered By === */

.drip-lightbox .drip-powered-by {
    display: none;
}






/* === Content Sections === */

.drip-lightbox.side-image .drip-form-aside {
    width: 245px;
    text-align: center;
}

.drip-lightbox.image-left .drip-form-main {
    margin-left: 270px;
}

.drip-lightbox.image-right .drip-form-main {
    margin-right: 270px;
}

.drip-lightbox.image-left .drip-form-aside {
    float: left;
}

.drip-lightbox.image-right .drip-form-aside {
    float: right;
}

@media screen and (max-width: 650px) {
    /* prevent overriding mobile class styles */
    .drip-lightbox.side-image:not(.mobile) .drip-content {
        margin-left: -190px;
        width: 380px;
    }

    .drip-lightbox.side-image .drip-form-main {
        margin-left: 0;
        margin-right: 0;
    }

    .drip-lightbox.side-image .drip-form-aside {
        display: none;
    }
}






/* === Content Headings & Paragraphs === */

.drip-lightbox .drip-content h3 {
    display: block;
    margin: 0 20px 0 0 !important;
    padding: 0 0 15px 0 !important;
    line-height: 1.4 !important;
    font-weight: bold !important;
    text-align: left !important;
    color: #4477bd !important;
    clear: none !important;
}

.drip-lightbox .drip-content .drip-description {
    margin: 0;
    padding: 0 0 20px 0;
    line-height: 1.6;
    text-align: left;
}

.drip-lightbox .drip-content .drip-post-submission {
    padding: 0;
}

.drip-lightbox .drip-content .drip-description a {
    text-decoration: underline;
}

.drip-lightbox .drip-content .drip-description em {
    font-style: italic;
}

.drip-lightbox .drip-content .drip-description ul,
.drip-lightbox .drip-content .drip-description ol {
    list-style-position: outside;
    margin: 8px 0 8px 30px;
}

.drip-lightbox .drip-content .drip-description ul li .drip-lightbox .drip-content .drip-description ol li {
    padding: 0;
}

.drip-lightbox .drip-content img.drip-image {
    margin-bottom: 20px;
}

.drip-lightbox .drip-content .drip-image-center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.drip-lightbox .drip-content img.drip-image {
    max-width: 245px;
    vertical-align: middle;
}

.drip-lightbox .drip-content a.drip-close {
    position: absolute;
    right: 25px;
    top: 25px;
}

.drip-lightbox .drip-content a.drip-close:hover {
    cursor: pointer;
}






/* === Content Subscribe Form === */

.drip-lightbox form {
    margin: 0 !important;
    padding: 0 !important;
}

.drip-lightbox dl {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
}

.drip-lightbox dl dt {
    display: block;
    padding: 0 0 5px 0;
    /* font-size: 13px; */
    font-weight: bold;
}

.drip-lightbox dl.no-labels dt {
    display: none;
}

.drip-lightbox dl dd {
    display: block;
    padding: 0 0 8px 0;
}

.drip-lightbox .drip-text-field {
    margin: 0 !important;
    padding: 10px 12px !important;
    height: auto !important;
    width: 100% !important;
    color: #4F5362 !important;
    background-color: #fff !important;
    border: 1px solid #A8ACB9 !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    background-image: none !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.drip-lightbox .drip-text-field:focus {
    border-color: #9398a9 !important;
    outline: 0;
    background-image: none;
    background-color: #fff !important;
}

.drip-lightbox.mobile .drip-text-field {
    font-size: 16px;
}

.drip-lightbox .drip-errors {
    padding: 5px 0 0 0;
    font-weight: normal;
    color: red;
}

.drip-lightbox .drip-submit-button {
    padding: 6px 26px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    line-height: 1.6 !important;
    border: 0 !important;
    cursor: pointer !important;
    background-image: none !important;
    min-width: 0 !important;
    min-height: 0 !important;
    height: auto;
    transition: background 0.2s ease !important;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    border-radius: 0;
}

.drip-lightbox .drip-submit-button:hover {
    background-image: none !important;
}

.drip-lightbox .drip-submit-button:active {
    background-image: none !important;
}