.site {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: $theme-border-accent;
}

.site-content,
.site-header .container,
.site-footer .container,
{
    @include make-container();
    @include make-container-max-widths((sm: 540px, md: 740px));
    padding-top: $spacer;
    padding-bottom: $spacer;
    @include media-breakpoint-up(md) {
        padding-top: $spacer*2;
        padding-bottom: $spacer*2;
    }
}

.site-header,
.site-footer {
    .container {
        @include make-container-max-widths((lg: 960px, xl: 1140px));
        font-family: $headings-font-family;
        a {
            color: $body-color;
            font-weight: $headings-font-weight;
        }
    }
}

.site-header {
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }
    .menu {
        li+li {
            margin-left: 2rem;
            @include media-breakpoint-up(md) {
                margin-left: 3rem;
            }
        }
        li.active {
            a {
                color: $theme-color;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        border-bottom: 1px solid $gray-200;
    }
}

.site-branding {
    @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
    }
}

.site-content {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.site-footer {
    background: $gray-200;
    font-size: $font-size-sm;
    text-align: center;
    @include media-breakpoint-up(md) {
        padding-top: $spacer*5;
    }
    .menu {
        margin-top: $spacer;
        justify-content: center;
        li+li {
            margin-left: 1rem;
        }
    }
}

.nav,
.menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.page-links {
    font-family: $headings-font-family;
    text-align: center;
}


.screen-reader-text,
.sr-only {
    @include sr-only();
}

.recent-posts {
    @include make-container();
    @include make-container-max-widths((lg: 960px, xl: 1140px));
    margin-bottom: $grid-gutter-width/2;
    @include media-breakpoint-up(md) {
        margin-bottom: $spacer* -5;
        z-index: 1;
    }

    >h4 {
        text-align: center;
    }

    &-cards {
        border: $theme-border-accent;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }

        >div {
            flex: 1;
            >a {
                @extend .btn;
                @include button-variant($white, $white, $theme-color, $theme-color);
                color: $body-color;
                @include transition(all .1s ease-out);
                &:hover {
                    @include color-yiq($theme-color);
                    transform: scale(1.1);
                }
                &:focus {
                    box-shadow: none;
                }
                display: block;
                height: 100%;
                white-space: normal;
                text-align: left;
                h4 {
                    margin: 0;
                    &:after {
                        content: '→';
                        display: block;
                        margin-top: $spacer-sm;
                    }
                }
                padding: $spacer;
                @include media-breakpoint-up(md) {
                    padding: $spacer*2;
                }
            }
            +div {
                border-top: 1px solid $theme-color;
                @include media-breakpoint-up(md) {
                    border-top: none;
                    border-left: 1px solid $theme-color;
                }
            }
        }
    }
}

.more-link {
    font-size: 1.66rem;
    display: block;
    margin-top: $spacer;
}

.nav-links {
    margin-top: $spacer;
    font-family: $headings-font-family;
    font-size: $font-size-sm;
    border-top: $theme-border;
    border-bottom: $theme-border;
    display: flex;
    >div {
        flex: 1;
        a {
            padding: $spacer $spacer/2;
            display: block;
            color: $body-color;
            &:before {
                display: block;
                font-size: $font-size-sm * .8;
                color: $theme-color;
                margin-bottom: $spacer-sm;
            }
            &:hover {
                text-decoration: none;
                background: $gray-200;
            }
        }
        +div {
            border-left: $theme-border;
        }
    }
    .nav-previous a {
        padding-right: $spacer;
        &:before {
            content: "← Prev"
        }
    }
    .nav-next a {
        padding-left: $spacer;
        text-align: right;
        &:before {
            content: "Next →"
        }
    }
}

.btn {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    @if $enable-rounded==false {
        border-radius: 0;
    }
}