@import "prism";

.entry {

    &-single {
        @include clearfix();
    }

    +.entry {
        border-top: $theme-border;
        padding-top: $spacer;
    }

    &-header {
        .single-post & {
            @include media-breakpoint-up(md){
                margin-left: $entry-media-offset * -1;
                margin-right: $entry-media-offset * -1;
            }
            margin-bottom: $spacer * 2;
            text-align: center;
            &:after {
                content: " ";
                display: inline-block;
                width: $spacer * 3;
                border-bottom: $theme-border-accent;
            }
        }
        h3.entry-title {
            margin-bottom: $spacer-sm;
            a {
                color: $body-color;
            }
        }
    }

    &-meta {
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm;
        margin-bottom: $spacer;
    }

    &-content {

        > p:first-of-type {
            font-size: $font-size-lg;
            &:first-letter {
                .single-post & {
                    color: $theme-color;
                    font-size: 1.5rem;
                    font-family: $headings-font-family;
                    font-weight: $headings-font-weight;
                    font-style: normal;
                    float: left;
                    line-height: 0.6;
                    margin: 0.5rem 1rem 0 0;
                    border: 4px solid $theme-color;
                    padding: 15px 14px;
                }
            }
        }

        a {
            border-bottom: 1px solid $theme-color;
            font-style: italic;
            padding-bottom: 3px;
        }

        /**
         * Lists
         */
        ol,
        ul,
        dl {
            margin-top: 0;
            margin-bottom: $paragraph-margin-bottom;
        }
        ol ol,
        ul ul,
        ol ul,
        ul ol {
            margin-bottom: 0;
        }

        /**
         * Tables
         */
        table {
            font-family: $font-family-sans-serif;
            font-size: $font-size-sm;
            width: 100%;
            max-width: 100%;
            margin-bottom: $spacer;
            background-color: $table-bg; // Reset for nesting within parents with `background-color`.
            border: $table-border-width solid $table-border-color;

            th,
            td {
                padding: $table-cell-padding;
                vertical-align: top;
                border-top: $table-border-width solid $table-border-color;
            }

            thead th {
                vertical-align: bottom;
                border-bottom: (2 * $table-border-width) solid $table-border-color;
            }

            tbody+tbody {
                border-top: (2 * $table-border-width) solid $table-border-color;
            }
        }

        @include entry-images();

        :last-child {
            margin-bottom: 0px;
        }
    }
}