@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300i,400,700|Lora:400,400i');

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import "mixins/entry";
@import 'type';

.mce-content-body {
    margin: 20px auto;
    max-width: 720px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: $headings-line-height;
    }

    &.post-type-post {
        p:first-child {
            font-size: $font-size-lg;
        }
    }

    a {
        border-bottom: 1px solid $theme-color;
        font-style: italic;
        padding-bottom: 3px;
    }

    @include entry-images();

    code {
        display: block;
        padding: 10px;
        text-shadow: none;
        font-weight: normal;
        font-size: 0.75rem;
        font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.6em;
    }
}